@charset "UTF-8";
/* CSS Document */

html{
	font-size: 0.8em;/*16px*87.5%=14px*/
  letter-spacing: 2px;
  color: #222222;
}

ul{
  padding-left: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
  



body{
  line-height: 1.5;
  font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
  margin: 0;
}




#top-head {
  width: 100%;
  height: 72px;
  background: #fff;
  opacity: 0.9;
  display: flex;
  position: fixed;
  z-index: 999;
}
#top-head .inner {
  float: left;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*logo style*/
.logo{
  margin: 0;
  width: 88px;
}
/*nav style*/
#top-head nav ul {
  display: flex;
  list-style-type: none;
}
/*nav link style*/
#top-head nav ul li a {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 8px;
  padding: 16px;
  color: #222222;
}
#top-head nav ul li a:hover {
  color: #FFD11F;
}
#nav_toggle {
  display: none;
}

.nav-menuTitle{
  color: #FFD11F;
}

.nav-menuTitle>a>.jp-title{
  font-weight: lighter;
  color: #222222;
  letter-spacing: 2px;
}

.mainvisual{
  width: 100%;
  height: auto;
  max-height: 520px;
  margin-bottom: 100px;
}


.mainvisual-img{
  display: block;
  width: 95%;
  max-width: 340px;
  height: auto;
  margin: 0 auto;
}

.space300{
  height: 72px;
}


.wrapper{
  margin: 0 24px;
}

.top-title{
  margin-top: 24px;
  margin-bottom: 40px;
}
.title{
  color: #FFD11F;
  font-size: 20px;
}

.jp-title{
  color: #222222;
  font-size: 12px;
  font-weight: bolder;
  padding-left: 16px;
}

.more{
  width: 300px;
  color: white;
  font-size: 20px;
  background-color: #FFD11F;
  margin: 32px auto;
  padding: 20px 0;
}

.more> a{
  text-align: center;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  
}



.section{
  margin-top: 56px;
  margin-bottom: 24px;
}
.sns{
  margin: 0 auto;
  width: 160px;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.sns-icon{
  width: 30px;
  vertical-align: middle;
}
.news-items{
  margin: 12px 0 20px;
}


.service-item{
  width: 95%;
  max-width: 400px;
  margin: 16px auto;
  background-color: #FFD11F;
  color: white;
}
.service-img{
  width: 100%;
}
.service-wrap{
    padding: 16px;
}
.servile-title{
  font-size: 16px;
  font-weight: bolder;
  margin: 16px 8px;
}
.date-box{
  margin: 32px 8px 16px 0;
}
.date{
  padding: 4px 6px;
  background-color: white;
  font-weight: bolder;
  color: #FFD11F;
}

.gallery-img{
  width: 100%;
  max-width: 330px;
  margin: 4px 0;
  text-align: center;

}

.sapce{
  margin: 24px 0;
}

.footer{
  background-color: #FFD11F;
  margin-top: 64px;
  height: 16px;
}

/*============================
news
============================*/

.space120{
  height: 120px;
}

.bold{
  font-weight: bold;
}



/*============================



ナビゲーション メニュー



============================*/

/*hamburger menu style*/
  #nav_toggle {
    display: block;
    width: 50px;
    height: 30px;
    position: relative;
    top: 4px;
    z-index: 100;
  }
  #nav_toggle div {
    position: relative;
  }
/*hamburger menu close style*/
  #nav_toggle span {
    display: block;
    height: 3px;
    background: #FFD11F;
    position:absolute;
    width: 100%;
    left: 0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  #nav_toggle span:nth-child(1) {
    top:0px;
  }
  #nav_toggle span:nth-child(2) {
    top:10px;
  }
  #nav_toggle span:nth-child(3) {
    top:20px;
  }
/*hamburger menu open style*/
  .open #nav_toggle span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .open #nav_toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .open #nav_toggle span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
/*nav style*/
  #top-head nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 1040px;
    background: #fff;
    z-index: 999;
    padding-top: 100px;
  }
  #top-head nav ul {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  #top-head nav ul li {
    text-align: left;
    font-weight: bolder;
    padding-bottom: 4px;
    margin-bottom: 8px;
  }

/*nav link style*/
  #top-head nav ul li a {
    display: block;
  }

@media screen and (min-width:600px) {
  .wrapper{
    margin: 0 80px;
  }
  
  .center{
    
  }
  .more{
  color: white;
  font-size: 20px;
  background-color: #FFD11F;
  margin: 32px auto;
  padding: 16px 0;
}
  
  .gallery{

  }
  .gallery-img{
    display: inline-block;
    width: 280px;
  }
  
  
}

@media screen and (min-width:400px) and (max-width:1012px) {
  .gallery-img{
    max-width: 240px;
  }
  
}

@media screen and (min-width:1200px) {
  .wrapper{
    margin: 0 180px;
  }
  
  
  .service{
    display: flex;
    margin: 0 24px;
  }
  
  .gallery{
    display: flex;

  }
  .gallery-img{
    display: inline-block;
    width: 280px;
  }
  
}






